.App{
  background-color: blanchedalmond;
  min-height: 500px;
  width: 400px;
   margin: 40px auto 0 auto;
    border-radius: 25px;
}
#TodoApp{
  text-align: center;
  background-color: azure;
   border: 0;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    font-size: 18px;
    color: white;
   
}  
#TodoApp input::placeholder{
  color: black;
}

#TodoApp button{
  background-color: azure;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  border: 0;
cursor: pointer;
font-weight:bold ;
color: #fff;
background-color: black;
}
